.dieu3{
    text-align: justify;
    padding: 0 25pt;
    line-height: 1.5;
}

.ten{
    text-align: center;
    margin-top: 40px;
}

.a01{
    position: absolute;
    left: 20%;
}

.a02{
    position: absolute;
    left: 60%;
}
.a03{
    position: absolute;
    left: 16%;
}

.a04{
    position: absolute;
    left: 62%;
}

.tongtien{
    text-align: left;
}

.footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.bena{
  background-color: aqua;
}
.benb{
  background-color: red;
}
.footer div{
  width: 50%;
}
.footer div strong{
  width: 100%;
}
